@model WeatherMap.UI.Models.CurrentConditionsVM

<div>

	<dl class="row striped">
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.City), @Html.DisplayNameFor(model => model.State)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
		</dd>
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.Latitude), @Html.DisplayNameFor(model => model.Longitude)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.Latitude), @Html.DisplayFor(model => model.Longitude)
		</dd>

		<dt class="col-5">
			@Html.DisplayNameFor(model => model.Elevation)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.Elevation)
		</dd>
	</dl>

	<div class="card mb-3 border-0" style="background-color: #f8f9fa;">
		<div class="row g-0">
			<div class="col-5">
				<img src="@Html.DisplayFor(model => model.ForecastPeriod.Icon)" class="img-fluid rounded-start" alt="Weather Icon">
			</div>
			<div class="col-7 card-body p-2">
				<p class="small m-0">@Html.DisplayNameFor(model => model.ForecastPeriod.TemperatureF)</p>
				<h2 class="card-title m-0">@Html.DisplayFor(model => model.ForecastPeriod.TemperatureF)</h2>
				<h3 class="card-text">@Html.DisplayFor(model => model.ForecastPeriod.TemperatureC)</h3>
			</div>
		</div>
	</div>

	<dl class="row striped">
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.ForecastPeriod.ShortForecast)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.ForecastPeriod.ShortForecast)
		</dd>
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.ForecastPeriod.Humidity)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.ForecastPeriod.Humidity)
		</dd>
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.ForecastPeriod.WindSpeed)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.ForecastPeriod.WindSpeed)
		</dd>
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.ForecastPeriod.WindDirection)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.ForecastPeriod.WindDirection)
		</dd>
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.ForecastPeriod.Dewpoint)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.ForecastPeriod.Dewpoint)
		</dd>
		<dt class="col-5">
			@Html.DisplayNameFor(model => model.ForecastPeriod.LastUpdate)
		</dt>
		<dd class="col-7">
			@Html.DisplayFor(model => model.ForecastPeriod.LastUpdate)
		</dd>
	</dl>
</div>